# <b><u> Project Title : Predicting whether a customer will default on his/her credit card </u></b>

## <b> Problem Description </b>

### This project is aimed at predicting the case of customers default payments in Taiwan. From the perspective of risk management, the result of predictive accuracy of the estimated probability of default will be more valuable than the binary result of classification - credible or not credible clients. We can use the [K-S chart](https://www.listendata.com/2019/07/KS-Statistics-Python.html) to evaluate which customers will default on their credit card payments

## <b> Data Description </b>

### <b>Attribute Information: </b>

### This research employed a binary variable, default payment (Yes = 1, No = 0), as the response variable. This study reviewed the literature and used the following 23 variables as explanatory variables:
* ### X1: Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit.
* ### X2: Gender (1 = male; 2 = female).
* ### X3: Education (1 = graduate school; 2 = university; 3 = high school; 4 = others).
* ### X4: Marital status (1 = married; 2 = single; 3 = others).
* ### X5: Age (year).
* ### X6 - X11: History of past payment. We tracked the past monthly payment records (from April to September, 2005) as follows: X6 = the repayment status in September, 2005; X7 = the repayment status in August, 2005; . . .;X11 = the repayment status in April, 2005. The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above.
* ### X12-X17: Amount of bill statement (NT dollar). X12 = amount of bill statement in September, 2005; X13 = amount of bill statement in August, 2005; . . .; X17 = amount of bill statement in April, 2005.
* ### X18-X23: Amount of previous payment (NT dollar). X18 = amount paid in September, 2005; X19 = amount paid in August, 2005; . . .;X23 = amount paid in April, 2005.

In [ ]:
#+ _  =  -

In [5]:
#Importing lbrary 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
import time
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, roc_auc_score, plot_precision_recall_curve
from sklearn.metrics import precision_score,recall_score,f1_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings("ignore")

In [1]:
pip install --upgrade pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
pip install --upgrade xlrd

Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 5.0 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-2.0.1

In [3]:
data='https://github.com/Aaryant31/Credit-Card-Default-Prediction/blob/main/default%20of%20credit%20card%20clients.xls?raw=true'

In [6]:
pd.read_excel(data)

      Unnamed: 0         X1  ...       X23                           Y
0             ID  LIMIT_BAL  ...  PAY_AMT6  default payment next month
1              1      20000  ...         0                           1
2              2     120000  ...      2000                           1
3              3      90000  ...      5000                           0
4              4      50000  ...      1000                           0
...          ...        ...  ...       ...                         ...
29996      29996     220000  ...      1000                           0
29997      29997     150000  ...         0                           0
29998      29998      30000  ...      3100                           1
29999      29999      80000  ...      1804                           1
30000      30000      50000  ...      1000                           1

[30001 rows x 25 columns]

In [7]:
#reading data
df=pd.read_excel(data,header=1)

# **Data inspection**

In [8]:
df.head()

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default payment next month
0   1      20000    2  ...         0         0                           1
1   2     120000    2  ...         0      2000                           1
2   3      90000    2  ...      1000      5000                           0
3   4      50000    2  ...      1069      1000                           0
4   5      50000    1  ...       689       679                           0

[5 rows x 25 columns]

In [9]:
#checking information of data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  int64
 1   LIMIT_BAL                   30000 non-null  int64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_0                       30000 non-null  int64
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  int64
 13  BILL_AMT2                   30000 non-null  int64
 14  BILL_AMT3                   30000 non-null  int64
 15  BILL_AMT4                   30000 non-null  int64
 16  BILL_AMT5                   30000 non-null  int64
 17  BILL_AMT6                   30000 non-null  int64
 18  PAY_AMT1                    30000 non-null  int64
 19  PAY_AMT2                    30000 non-null  int64
 20  PAY_AMT3                    30000 non-null  int64
 21  PAY_AMT4                    30000 non-null  int64
 22  PAY_AMT5                    30000 non-null  int64
 23  PAY_AMT6                    30000 non-null  int64
 24  default payment next month  30000 non-null  int64
dtypes: int64(25)
memory usage: 5.7 MB

In [10]:
#checking null values
df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default payment next month    0
dtype: int64

Surprisingly,We didn't have any of the missing and null values in the dataset.So,there is no needed for the null value treatment in the dataset

In [12]:
#describing data
df.describe().transpose()

                              count           mean  ...        75%        max
ID                          30000.0   15000.500000  ...   22500.25    30000.0
LIMIT_BAL                   30000.0  167484.322667  ...  240000.00  1000000.0
SEX                         30000.0       1.603733  ...       2.00        2.0
EDUCATION                   30000.0       1.853133  ...       2.00        6.0
MARRIAGE                    30000.0       1.551867  ...       2.00        3.0
AGE                         30000.0      35.485500  ...      41.00       79.0
PAY_0                       30000.0      -0.016700  ...       0.00        8.0
PAY_2                       30000.0      -0.133767  ...       0.00        8.0
PAY_3                       30000.0      -0.166200  ...       0.00        8.0
PAY_4                       30000.0      -0.220667  ...       0.00        8.0
PAY_5                       30000.0      -0.266200  ...       0.00        8.0
PAY_6                       30000.0      -0.291100  ...       0.00        8.0
BILL_AMT1                   30000.0   51223.330900  ...   67091.00   964511.0
BILL_AMT2                   30000.0   49179.075167  ...   64006.25   983931.0
BILL_AMT3                   30000.0   47013.154800  ...   60164.75  1664089.0
BILL_AMT4                   30000.0   43262.948967  ...   54506.00   891586.0
BILL_AMT5                   30000.0   40311.400967  ...   50190.50   927171.0
BILL_AMT6                   30000.0   38871.760400  ...   49198.25   961664.0
PAY_AMT1                    30000.0    5663.580500  ...    5006.00   873552.0
PAY_AMT2                    30000.0    5921.163500  ...    5000.00  1684259.0
PAY_AMT3                    30000.0    5225.681500  ...    4505.00   896040.0
PAY_AMT4                    30000.0    4826.076867  ...    4013.25   621000.0
PAY_AMT5                    30000.0    4799.387633  ...    4031.50   426529.0
PAY_AMT6                    30000.0    5215.502567  ...    4000.00   528666.0
default payment next month  30000.0       0.221200  ...       0.00        1.0

[25 rows x 8 columns]

In [13]:
#checking 1st Row
df.iloc[0,:]

ID                                1
LIMIT_BAL                     20000
SEX                               2
EDUCATION                         2
MARRIAGE                          1
AGE                              24
PAY_0                             2
PAY_2                             2
PAY_3                            -1
PAY_4                            -1
PAY_5                            -2
PAY_6                            -2
BILL_AMT1                      3913
BILL_AMT2                      3102
BILL_AMT3                       689
BILL_AMT4                         0
BILL_AMT5                         0
BILL_AMT6                         0
PAY_AMT1                          0
PAY_AMT2                        689
PAY_AMT3                          0
PAY_AMT4                          0
PAY_AMT5                          0
PAY_AMT6                          0
default payment next month        1
Name: 0, dtype: int64

In [14]:
#droping Id Column since its is unique for every row
df=df.drop('ID',axis=1)

In [15]:
#viewing Data
df.head()

   LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT5  PAY_AMT6  default payment next month
0      20000    2          2  ...         0         0                           1
1     120000    2          2  ...         0      2000                           1
2      90000    2          2  ...      1000      5000                           0
3      50000    2          2  ...      1069      1000                           0
4      50000    1          2  ...       689       679                           0

[5 rows x 24 columns]


# **Data cleaning**

In [16]:
df['LIMIT_BAL'].max()

1000000

In [17]:
df['LIMIT_BAL'].min()

10000

In [18]:
#renaming dependendent Variable
df.rename(columns={'default payment next month' : 'Defaulters'}, inplace=True)

In [19]:
# renaming some feature name for better understanding of feature
df.rename(columns={'PAY_0':'PAY_SEPT','PAY_2':'PAY_AUG','PAY_3':'PAY_JUL','PAY_4':'PAY_JUN','PAY_5':'PAY_MAY','PAY_6':'PAY_APR'},inplace=True)

df.rename(columns={'BILL_AMT1':'BILL_AMT_SEPT','BILL_AMT2':'BILL_AMT_AUG','BILL_AMT3':'BILL_AMT_JUL','BILL_AMT4':'BILL_AMT_JUN','BILL_AMT5':'BILL_AMT_MAY','BILL_AMT6':'BILL_AMT_APR'}, inplace = True)

df.rename(columns={'PAY_AMT1':'PAY_AMT_SEPT','PAY_AMT2':'PAY_AMT_AUG','PAY_AMT3':'PAY_AMT_JUL','PAY_AMT4':'PAY_AMT_JUN','PAY_AMT5':'PAY_AMT_MAY','PAY_AMT6':'PAY_AMT_APR'},inplace=True)

In [20]:
df.head()

   LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT_MAY  PAY_AMT_APR  Defaulters
0      20000    2          2  ...            0            0           1
1     120000    2          2  ...            0         2000           1
2      90000    2          2  ...         1000         5000           0
3      50000    2          2  ...         1069         1000           0
4      50000    1          2  ...          689          679           0

[5 rows x 24 columns]


Looking for Outlier Using Isolation Forest

In [21]:
# importing minmax scaler
from sklearn.preprocessing import MinMaxScaler
#creating instance of minmaxscaler
minmax = MinMaxScaler(feature_range=(0, 1))
scale_df = minmax.fit_transform(df.drop('Defaulters',axis=1))

In [22]:
#imprting IsolationForeest for outlier detection
from sklearn.ensemble import IsolationForest

In [23]:
#creating instance of isolation forest
clf = IsolationForest(n_estimators=100, contamination=0.01, random_state=0)
clf.fit(scale_df)

# predict raw anomaly score
df['multivariate_anomaly_score'] = clf.decision_function(scale_df)
        
# prediction of a datapoint category outlier or inlier
df['multivariate_outlier'] = clf.predict(scale_df)

In [24]:
df.head()

   LIMIT_BAL  SEX  ...  multivariate_anomaly_score  multivariate_outlier
0      20000    2  ...                    0.190476                     1
1     120000    2  ...                    0.212437                     1
2      90000    2  ...                    0.269715                     1
3      50000    2  ...                    0.264108                     1
4      50000    1  ...                    0.171549                     1

[5 rows x 26 columns]

In [25]:
#looking the outlier
df[(df['multivariate_outlier'] == -1)]

       LIMIT_BAL  SEX  ...  multivariate_anomaly_score  multivariate_outlier
6         500000    1  ...                   -0.051680                    -1
59        400000    2  ...                   -0.015094                    -1
102       480000    1  ...                   -0.078952                    -1
214       470000    1  ...                   -0.024130                    -1
360       500000    2  ...                   -0.073918                    -1
...          ...  ...  ...                         ...                   ...
29605     500000    1  ...                   -0.047464                    -1
29820     400000    1  ...                   -0.057618                    -1
29837     500000    1  ...                   -0.032132                    -1
29883     420000    1  ...                   -0.028768                    -1
29963     610000    1  ...                   -0.136291                    -1

[300 rows x 26 columns]

In [26]:
#removing Outliers
df=df.drop( df[ df['multivariate_outlier'] == -1 ].index)

In [27]:
#checking the shape of df after removing outlier
df.shape

(29700, 26)